:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --white-color: #ffffff;
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
  --portfolio-item-gap: 30px;
  --icon-light-color: #afb1b8;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-color);

  background-color: var(--white-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-header {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--primary-color);
}

/* Header Section */

header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

/* Logo styles */

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--logo-color);
}

.logo-accent {
  color: var(--accent-color);
}

/* Navigation styles */

.nav {
  display: flex;
  align-items: center;
}

.nav-list,
.contact-list {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list {
  margin-left: 93px;
}

.contact-list {
  margin-left: auto;
}

.nav-list li:not(:first-child),
.contact-list li:not(:first-child) {
  margin-left: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-color);
}

.nav-link.current {
  color: var(--accent-color);
}

.contact-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  color: var(--secondary-color);
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.icon-header {
  fill: currentColor;
  margin-right: 10px;
}

/* Hero styles */

.hero {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white-color);
  background-color: var(--dark-bg-color);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-container {
  width: 696px;
  text-align: center;
}

.hero h1 {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero button {
  min-height: 50px;
  min-width: 200px;

  padding: 10px 32px;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--white-color);
  border-radius: 4px;
  border: none;

  cursor: pointer;
}

/* Features styles */

.features {
  padding-bottom: 0;
}

.features-list {
  display: flex;
}

.features-list li:not(:first-child) {
  margin-left: 30px;
}

.icon-wrapper {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--light-bg-color);
}

.features-list h3 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list p {
  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-color);
}

/* Activities styles */

.activities-list {
  display: flex;
  justify-content: space-between;
}

/* Team-list styles */

.team {
  background-color: var(--light-bg-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list > li {
  width: 270px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-text h3 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-text p {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--secondary-color);
}

.icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-item:not(:first-child) {
  margin-left: 10px;
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--icon-light-color);
}

.icon-item > .icon-link:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.icon-social {
  fill: currentColor;
}

/* Customers */

.customer-list .icon-item:not(:first-child) {
  margin-left: 30px;
}

.customer-list .icon-link {
  width: 170px;
  height: 92px;
  color: var(--icon-light-color);
  border: 1px solid var(--icon-light-color);
  border-radius: 4px;
}

.customer-list .icon-link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
  background-color: var(--white-color);
}

.icon-customers {
  fill: currentColor;
}

/* Portfolio section */

.portfolio h1 {
  display: none;
}

/* Filter styles */

.filter {
  display: flex;
  justify-content: center;
}

.filter :not(:first-child) {
  margin-left: 8px;
}

.filter-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;

  color: var(--primary-color);
  background-color: var(--light-bg-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus,
.filter-button.current {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio styles */

.portfolio-list {
  margin-top: calc(50px - var(--portfolio-item-gap));
  margin-left: calc(-1 * var(--portfolio-item-gap));

  display: flex;
  flex-wrap: wrap;
  flex-basis: calc (100%/3 - var(--portfolio-item-gap));
}

.portfolio-item {
  margin-top: 30px;
  margin-left: var(--portfolio-item-gap);
  background: var(--white-color);

  border-bottom: 1px solid #eeeeee;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-descriptions {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-descriptions h2 {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-color);
}

.portfolio-descriptions p {
  font-size: 16px;
  line-height: 1.88;

  color: var(--secondary-color);
}

/* Footer styles */

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

footer .container {
  display: flex;
}

.social-wrapper {
  margin-left: 70px;
  padding-top: 12px;
}

.social-wrapper p {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;

  color: var(--white-color);
}

.social-wrapper .icon-link {
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

footer .logo {
  margin-bottom: 20px;
  color: var(--white-color);
}

.address-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address-list a {
  display: block;
}

.address-list li:not(:last-child) {
  margin-bottom: 9px;
}

.address-location {
  color: var(--white-color);
}

.address-contact {
  color: rgba(255, 255, 255, 0.6);
}

.address-list a:hover {
  color: var(--accent-color);
}

/* fonts
logo  Raleway Normal 700
nav   Roboto Normal 500
h1    Roboto Normal 900
h2    Roboto Normal 700
h3    Roboto Normal 700
p     Roboto Normal 400 */
